<style>

</style>

<div ng-controller="LabController">
<h1 class="heading"> <span translate>tbreach5.lab-list.label</span>
<button class="btn btn-success right" ng-click="registerProfile();" translate >tbreach5.lab-registration.trigger.label</button></h1>

<div class="search-form" ng-controller="LocationController">
	<select id="labType" ng-model="searchFilter.labType">
		<option value="" translate >tbreach5.lab-list.filter.labType.label</option>
		<option>Microscopy Lab</option>
		<option>CXR Lab</option>
		<option>GeneXpert Lab</option>
	</select>
	<select id="organizationType" ng-model="searchFilter.organizationType">
		<option value="" translate >tbreach5.lab-list.filter.organizationType.label</option>
		<option>Govt</option>
		<option>NGO</option>
	</select>
	<input id="q" ng-model="searchFilter.q" class="inline" placeholder='{{ "tbreach5.lab-list.filter.q.label" | translate }}'>
	<button type="button" ng-click="loadLabs()" class="btn btn-secondary" translate >tbreach5.lab-list.filter.trigger.label</button>
</div>

<div ui-grid="labsList"  ui-grid-pagination ui-grid-auto-resize style="height: {{gridHeight}}" ng-class="loadingList ? 'loader' : ''">
    <div class="watermark" ng-show="searchFilter && !labsList.data.length" translate >tbreach5.data-list.filter.watermark1.label</div>
    <div class="watermark" ng-show="!searchFilter" translate >tbreach5.data-list.filter.watermark2.label</div>
</div>
</div>
<script type="text/ng-template" id="view-profile-button.html">
	<div><button class="btn btn-info btn-sm btn-block" ng-click="grid.appScope.openProfile(row.entity)">Profile</button><div>
</script>
<script type="text/ng-template" id="edit-profile-button.html">
	<div><button class="btn btn-warning btn-sm btn-block" ng-hide="row.entity.retired" ng-click="grid.appScope.editProfile(row.entity)">Edit</button><div>
	<div><button class="btn btn-danger btn-sm btn-block" ng-show="row.entity.retired">Deleted</button><div>
</script>
