<script>
	jQuery('required').append("*");
</script>
<h1 class="heading" translate >tbreach5.lab-edit.label</h1>
<br>
<form ng-submit="submitForm()" ng-controller="LabController">
<table ng-controller="LocationController">
  <tr>
    <td><span translate > tbreach5.lab-edit.label.labType</span><required/></td>
	<td>
		<input type="radio" name="labType" ng-model="location.labType" ng-required="!location.labType" value="Microscopy Lab"> Microscopy Lab<br>
		<input type="radio" name="labType" ng-model="location.labType" ng-required="!location.labType" value="CXR Lab"> CXR Lab<br>
		<input type="radio" name="labType" ng-model="location.labType" ng-required="!location.labType" value="GeneXpert Lab"> GeneXpert Lab
	</td>
	<td></td>
    <td><span translate > tbreach5.lab-edit.label.registrationDate</span><required/></td>
    <td><input type="date" name="registrationDate" ng-model="location.registrationDate" max="{{today | date:'yyyy-MM-dd'}}" required /></td>
  </tr>
  <tr>
    <td><span translate > tbreach5.lab-edit.label.labName</span><required/></td>
    <td colspan="2"><input type="text" name="labName" ng-model="location.name" required min="3" maxlength="50"/></td>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td><span translate > tbreach5.lab-edit.label.labAddress</span><required/></td>
    <td colspan="4">
    	<!-- Location names have ids appended to make them unique. So we would bind model with name but to display only simple name
    	address6 which has display name would be bind to html option text -->
    	<div class="squeeze">
    	<!-- The default option must be there to make sure that location is selected when page is loaded on even slow network-->
    	<select ng-model="location.stateProvince" required>
			<option value="{{location.stateProvince}}" selected="selected"> {{ location.stateProvince }} </option>
			<option ng-repeat="loc in divisions" value="{{ loc.name }}">{{ loc.address6 || loc.name }}</option>
		</select>
    	<select ng-model="location.countyDistrict" required ng-change="fetchScopeLocations('upazilla', 'upazillas', location.countyDistrict, 'loadingData');">
			<option value="{{location.countyDistrict}}" selected="selected"> {{ location.countyDistrict }} </option>
			<option ng-repeat="loc in districts | filter: { parentLocation: { name: location.stateProvince} }" value="{{ loc.name }}">{{ loc.address6 || loc.name }}</option>
		</select>
	    <select ng-model="location.cityVillage" required ng-change="fetchScopeLocations('union', 'unions', location.cityVillage, 'loadingData');">
			<option value="{{location.cityVillage}}" selected="selected"> {{ location.cityVillage }} </option>
			<option ng-repeat="loc in upazillas | filter: { parentLocation: { name: location.countyDistrict} }" value="{{ loc.name }}">{{ loc.address6 || loc.name }}</option>
		</select>
    	<select ng-model="location.address3" required>
			<option value="{{location.address3}}" selected="selected"> {{ location.address3 }} </option>
			<option ng-repeat="loc in unions | filter: { parentLocation: { name: location.cityVillage} }" value="{{ loc.name }}">{{ loc.address6 || loc.name }}</option>
		</select>
		<i class="icon-refresh small" ng-show="loadingData"></i>
		</div>
		<div translate > tbreach5.lab-edit.label.warningIdentifier</div>
    </td>
  </tr>
  <tr>
    <td><span translate > tbreach5.lab-edit.label.organizationType</span><required/></td>
  	<td>
    	<select ng-model="location.organizationType" required>
			<option></option>
			<option>Govt</option>
			<option>NGO</option>
		</select>
    </td>
    <td colspan="3"></td>
  </tr>
  <tr>
    <td><span translate > tbreach5.lab-edit.label.organizationName</span><required/></td>
  	<td colspan="2"><input type="text" name="organizationName" ng-model="location.organizationName" required  min="3" maxlength="50"/></td>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td><span translate > tbreach5.lab-edit.label.labIdentifier</span><required/></td>
    <td colspan="2"><input type="text" name="identifier" ng-model="location.identifier" required readonly/></td>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td colspan="3"></td>
    <td><button type="button" ng-click="cancelEdit();" class="btn btn-danger" translate >tbreach5.cancel</button></td>
  	<td><button type="submit" name="submit" class="btn btn-success" translate >tbreach5.submit</button></td>
  </tr>
</table>
</form>