<h1 class="heading" translate >tbreach5.patient-list.label</h1>

<div class="form" ng-controller="PatientController">

<table class="noborder" ng-controller="LocationController">
<tr>
<td>
	<select ng-model="searchFilter.stateProvince">
		<option value="" translate > tbreach5.stateProvince.label</option>
		<option ng-repeat="loc in divisions" value="{{ loc.name }}">{{ loc.address6 || loc.name }}</option>
	</select>
</td>
<td>
	<select ng-model="searchFilter.countyDistrict" ng-change="fetchScopeLocations('upazilla', 'upazillas', searchFilter.countyDistrict, 'loadingData');">
		<option value="" translate > tbreach5.countyDistrict.label</option>
		<option ng-repeat="loc in districts | filter: { parentLocation: { name: searchFilter.stateProvince} }" value="{{ loc.name }}">{{ loc.address6 || loc.name }}</option>
	</select>
</td>
<td>
	<select ng-model="searchFilter.cityVillage" ng-change="fetchScopeLocations('union', 'unions', searchFilter.cityVillage, 'loadingData');">
		<option value="" translate > tbreach5.cityVillage.label</option>
		<option ng-repeat="loc in upazillas | filter: { parentLocation: { name: searchFilter.countyDistrict} }" value="{{ loc.name }}">{{ loc.address6 || loc.name }}</option>
	</select>
</td>
<td>
	<select ng-model="searchFilter.union">
		<option value="" translate > tbreach5.address3.label</option>
		<option ng-repeat="loc in unions | filter: { parentLocation: { name: searchFilter.cityVillage} }" value="{{ loc.name }}">{{ loc.address6 || loc.name }}</option>
	</select>
</td>
<td>
	<i class="icon-refresh small" ng-show="loadingData||!divisions||!districts"></i>
</td>
<td>
	<input ng-model="searchFilter.q" style="width: 120px" class="inline" placeholder='{{ "tbreach5.patient-list.filter.q.label" | translate }}'>
</td>
<td>
	<select ng-model="searchFilter.gender">
		<option value="" translate >tbreach5.patient-list.filter.gender.label</option>
		<option value="M">Male</option>
		<option value="F">Female</option>
		<option value="O">Other</option>
	</select>
</td>
<td>
	<input ng-model="searchFilter.age" style="width: 100px" class="inline" type="number" placeholder='{{ "tbreach5.patient-list.filter.age.label" | translate }}'>
</td>
<td><button type="button" ng-click="loadPatients()" class="btn btn-secondary" translate >tbreach5.patient-list.filter.trigger.label</button></td>
</tr>
</table>

<div ui-grid="patientsList"  ui-grid-pagination ui-grid-auto-resize style="height: {{gridHeight}}" ng-class="loadingList ? 'loader' : ''">
    <div class="watermark" ng-show="searchFilter && !patientsList.data.length" translate >tbreach5.data-list.filter.watermark1.label</div>
    <div class="watermark" ng-show="!searchFilter" translate >tbreach5.data-list.filter.watermark2.label</div>
</div>

<script type="text/ng-template" id="view-profile-button.html">
	<div><button class="btn btn-info btn-sm btn-block" ng-click="grid.appScope.openProfile(row.entity)">View Profile</button><div>
</script>
</div>
