<script>
	jQuery('required').append("*");
</script>
<h1 class="heading" translate > tbreach5.user-edit.label </h1>
<br>
<form name="frm" ng-submit="submitForm(frm.$valid)" ng-controller="LocationController">
<table ng-if="!formNotInitable" ng-init="initForm()" ng-controller="UserController">
  <tr>
    <td><span translate > tbreach5.user-edit.label.firstName </span><required/></td>
    <td><input type="text" name="firstName" ng-model="user.person.preferredName.givenName" required min="5" maxlength="20"/></td>
    <td><span translate > tbreach5.user-edit.label.lastName </span><required/></td>
    <td><input type="text" name="familyName" ng-model="user.person.preferredName.familyName" required min="5" maxlength="20"/></td>
  </tr>
  <tr>
    <td><span translate > tbreach5.user-edit.label.designation </span><required/></td>
	<td>
		<input type="radio" name="designation" ng-model="attributes.designation.value" ng-required="!attributes.designation.value" value="Manager"> Manager<br>
		<input type="radio" name="designation" ng-model="attributes.designation.value" ng-required="!attributes.designation.value" value="Supervisor"> Supervisor<br>
	</td>
    <td><span translate > tbreach5.user-edit.label.organization </span><required/></td>
    <td><input type="text" name="organization" ng-model="attributes.organization.value" min="3" maxlength="30" required /></td>
  </tr>
  <tr>
    <td><span translate > tbreach5.user-edit.label.contactNumber </span><required/></td>
    <td colspan="2"><input type="tel" name="contactNumber" ng-model="attributes['primary contact number'].value" required min="5" maxlength="20"/></td>
  </tr>
  <tr>
    <td><span translate > tbreach5.user-edit.label.email </span><required/></td>
    <td colspan="2"><input type="email" name="email" ng-model="attributes.email.value" required min="10" maxlength="50"/></td>
  </tr>
  <tr>
    <td><span translate > tbreach5.user-edit.label.username </span><required/></td>
    <td colspan="2"><input type="text" name="username" ng-model="user.username" required min="5" maxlength="20" readonly="readonly"/></td>
  </tr>
<!--   <tr>
    <td><span translate > tbreach5.user-edit.label.password </span><required/></td>
    <td colspan="2"><input type="password" name="password" ng-model="user.password" required min="5" maxlength="20"/></td>
  </tr>
  <tr>
    <td><span translate > tbreach5.user-edit.label.confirmPassword </span><required/></td>
    <td colspan="2"><input type="password" name="confirmPassword" ng-model="confirmPassword" compare-to="user.password" min="5" maxlength="20"/>
    <span class="error" ng-show="!frm.confirmPassword.$valid">passwords must match</span>
    </td>
  </tr> -->
  <tr>
    <td><span translate > tbreach5.user-edit.label.role </span><required/></td>
  	<td colspan="2">
		<select ng-model="user.roles[0]" required ng-options="role.name for role in roles track by role.uuid">
			<option value="" translate > tbreach5.role.label</option>
		</select>
    </td>
  </tr>
  <tr>
    <td><span translate > tbreach5.user-edit.label.location</span></td>
    <td colspan="3">
    	<div class="squeeze">
		<!-- Update location id variable with selected location id in given locations -->
    	<!-- Due to network sometimes locations dont load so reload next level locations -->
    	<select ng-model="location.stateProvince" required>
			<option value="{{location.stateProvince}}" selected="selected"> {{ location.stateProvince }} </option>
 			<option ng-repeat="loc in divisions" value="{{ loc.name }}">{{ loc.address6 || loc.name }}</option>
		</select>
    	<select ng-model="location.countyDistrict" required 
    			ng-change="fetchScopeLocations('upazilla', 'upazillas', location.countyDistrict, 'loadingData');">
			<option value="{{location.countyDistrict}}" selected="selected"> {{ location.countyDistrict }} </option>
			<option ng-repeat="loc in districts | filter: { parentLocation: { name: location.stateProvince} }" value="{{ loc.name }}">{{ loc.address6 || loc.name }}</option>
		</select>
		<!-- Load child locations i.e. unions with parent and given tag and update the flag variable in icon below -->
	    <select ng-model="location.cityVillage" required 
	    		ng-change="fetchScopeLocations('union', 'unions', location.cityVillage, 'loadingData');">
			<option value="{{location.cityVillage}}" selected="selected"> {{ location.cityVillage }} </option>
			<option ng-repeat="loc in upazillas | filter: { parentLocation: { name: location.countyDistrict} }" value="{{ loc.name }}">{{ loc.address6 || loc.name }}</option>
		</select>
    	<select ng-model="location.address3" required 
    			ng-change="fetchScopeLocations('lab', 'labs', location.address3, 'loadingData');">
			<option value="{{location.address3}}" selected="selected"> {{ location.address3 }} </option>
			<option ng-repeat="loc in unions | filter: { parentLocation: { name: location.cityVillage} }" value="{{ loc.name }}">{{ loc.address6 || loc.name }}</option>
		</select>
		<select ng-model="location.lab">
			<option value="{{location.lab}}" selected="selected"> {{ location.lab }} </option>
			<option ng-repeat="loc in labs | filter: { parentLocation: { name: location.address3 } }" value="{{ loc.name }}">{{ loc.address6 || loc.name }}</option>
		</select>
		<i class="icon-refresh small" ng-show="loadingData||!divisions||!districts||!upazillas"></i>
		</div>
    </td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td><button type="button" ng-click="cancelEdit();" class="btn btn-danger" translate > tbreach5.cancel</button></td>
  	<td><button type="submit" name="submit" class="btn btn-success" translate > tbreach5.submit</button></td>
  </tr>
</table>
</form>